body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #ffaa44;
}

.bonk-wrapper, .char{
    position: relative;
    display: inline-block;
}

.part-body {
    display: block;
    transform: scaleX(-1);
}

.part-bat {
    position: absolute;
    bottom: 80px;
    left: 85%;
    transform-origin: top left; 
    animation: bat-rotate 1s infinite alternate;
}

@keyframes bat-rotate {
    50% {
        transform: rotate(-100deg); 
    }
    100% {
        transform: rotate(-25deg); 
    }
}

.char-2 {
    position: absolute;
    top: 65%;
    left: 165% ; /* Centraliza horizontalmente em relação ao char-1 */
    transform: translateX(-50%); /* Centraliza corretamente */
    animation: none; 
    animation: bonks-move 4s linear infinite alternate;
}



.captions {
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px #000;
}
